<div class="nav-brand">
    <a href="">AM KEYWARD</a>
</div>

<nav class="nav-links">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
    <AuthorizeView>
        <Authorized>
            <NavLink class="nav-link" href="vaults">My Vault</NavLink>
            <NavLink class="nav-link" href="secrets">Software credentials</NavLink>
            <NavLink class="nav-link" href="tokens">Client tokens</NavLink>
        </Authorized>
    </AuthorizeView>
</nav>

<div class="nav-foot">
    <AuthorizeView>
        <Authorized>
            <div class="nav-user">@context.User.Identity?.Name</div>
            <form action="account/logout" method="post">
                <button type="submit" class="nav-signout">Sign out</button>
            </form>
        </Authorized>
        <NotAuthorized>
            <NavLink class="nav-link" href="account/login">Sign in</NavLink>
        </NotAuthorized>
    </AuthorizeView>
</div>
