@page "/amkeyward/vaults/personal"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [Authorize]
@inject IStringLocalizer<SharedResource> Loc

<PageTitle>AM KEYWARD</PageTitle>

<KeywardUi>
    <div class="page-header">
        <h1>@Loc["Page.Personal.Title"]</h1>
        <p>@Loc["Page.Personal.Desc"]</p>
    </div>

    <VaultWorkspace Team="false" />
</KeywardUi>
