@page "/vaults/team"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [Authorize]
@inject IStringLocalizer<SharedResource> Loc

<PageTitle>AM KEYWARD</PageTitle>

<div class="page-header">
    <h1>@Loc["Page.Team.Title"]</h1>
    <p>@Loc["Page.Team.Desc"]</p>
</div>

<VaultWorkspace Team="true" />
