@page "/vaults/team"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [Authorize]
@using Am.Keyward.Ui.Blazor.App.Components.Vaults

<PageTitle>AM KEYWARD</PageTitle>

<div class="page-header">
    <h1>Team vaults</h1>
    <p>Vaults owned by your tenant and shared with colleagues via access grants.</p>
</div>

<VaultWorkspace Team="true" />
